<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>鬱アニメ診断</title>
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
	<link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"></link>
	<link href="/css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/main.js" th:src="@{/js/main.js}"></script>
	<script src="/js/mdb.min.js" th:src="@{/js/mdb.min.js}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<!-- Material Design Bootstrap -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121094135-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-121094135-2');
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="background-color: #263238!important;">
		<a class="navbar-brand" href="#">鬱アニメ診断</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">診断 <span class="sr-only">(current)</span></a>
				</li>
				<!--
				<li class="nav-item">
					<a class="nav-link" href="#">アニメ一覧</a>
				</li>
				-->
			</ul>
		</div>
	</nav>
	<main role="main">
		<div class="oneArea">
			<div class="onebox">
				<div class="imgArea"><img src="/img/LainTwist.gif"></div>
				<div class="fukiArea">
					<div class="fukidasi">
						<p>好きなジャンルは？</p>
						<th:block th:each="category : ${T(com.web.utuanime.models.enums.Category).values()}">
							<div class="btn-box">
								<button type="button" id="q1" class="btn btn-info" th:text="${category.name}" th:value="${category.code}">ジャンル</button>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- <footer class="container"></footer> -->
	<footer class="page-footer font-small special-color-dark pt-4">
		<!-- Footer Elements -->
		<div class="container">
			<ul class="list-unstyled list-inline text-center">
				<li class="list-inline-item">
					<a href="https://twitter.com/shi_utk" class="btn-floating btn-tw mx-1"><i class="fa fa-twitter"></i></a>
				</li>
			</ul>
		</div>
		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2019 Copyright:
			<a href="#"> utuanime.com</a>
		</div>
	</footer>

</body>
</html>